*{
    margin:0;
    box-sizing: border-box;
}

#navbarNav{
    display:flex !important;
    flex-direction: row;
    justify-content: flex-end;
}
.global{
    background-image: url(../imagenes/carne\ bien\ cruda.jpg) no-repeat center;
    background-size: cover;
}
.catalogo{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #D9D9D9;
    opacity: 0.75;
}
.catalogo h1{
    font-family: 'Kreon', serif;
    font-size: 40px;
    justify-self: center;
    align-self: center;
    padding-top: 5%;
    margin: 0;
    font-weight: 600;
}
.catalogo2{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    width: 97%;
    padding: 5% 5% 5% 5%;
    background-color: #D9D9D9;
    margin:0;
}
.muestra{
    width: 25%;
    padding: 2% 2% 2% 2%;

}
#prologo{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding:13% 15% 2% 15%;
    align-items: center;
    

}
.prologo1{
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    height: 30%;
    margin-right: 0;
    margin-top: 5%;
    margin-left: 49%;
}

.prologo p{
    font-family: 'Kreon', serif;
    font-size: 36px;
    text-align: center;
    font-weight: 400;
}
.btn{
    justify-self: center;
    height: 5%;
    width: 30%;
    background-color: #0E2A18;
    color:#C6DA36;
    font-family: 'Kreon', serif;
    font-size: 36px;
    font-weight: 400;
}
.btn a{
    justify-self: center;
    text-decoration: none;
    color:#C6DA36;
}
.log2{

    margin-left: 20%;
    padding-right: 0;
    width: 30%;
}
.fondo{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    background-image: url(../imagenes/carne\ bien\ cruda.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    padding:5% 5% 5% 5%;

}
.muestra{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-left: 0.5%;
    padding-right: 0.5%;
}
.titlemuestra{
    text-align: center;
    padding-top: 5%;
    font-family: 'Montserrat', sans-serif;
}
.menu.navbar .navbar-expand-lg{
    background-color: #ffffff;
} 
a.nav-link{
    color:#0E2A18;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 18px;
    letter-spacing: 0.75px;

}
.footer{
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #0E2A18;
}
.form{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 1%;
}
.footer2{
    width: 50%;
    margin: 1% 5% 5% 5%;

}
.form-control{
    margin-bottom: 1%;
}
.contactus{
    font-size: 36px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    color:#C6DA36;
    height: 20%;
    position: relative;
    margin-right: 36%;
    margin-top: 7%;
}
.btn2{
    align-self: flex-end;
    background-color: rgb(18, 26, 18);
    color:#c6d636; 
    text-align: center;
    border: none;
    margin-top: 1%;
    font-family: 'Raleway', sans-serif;
    font-size: 16px;
    padding:1% 1% 1% 1% ;
}
.fotofooter{
    width: 100%;
}
.pie{
    background-color: #E5E5E5;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.pie p{
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    letter-spacing: 0.75;
    color: #0E2A18;
    text-align: center;
    margin-bottom: 0.5%;
    margin-top: 0.5%;
}